
/*input.ng-pristine {
    background-color: green;
}

input.ng-dirty {
    background-color: red;
}

input.ng-valid {
    border: 3px solid yellow;
}

input.ng-invalid {
    border: 3px solid black;
}*/

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}